body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image:url(/portfolio-project/img/img-bg.avif);
    background-size:cover;
    background-repeat:no-repeat;
    padding: 250px 0;
    
}
.skills{
    padding:70px 0px;
}
.card{
    width:auto;
    height:550px;
    text-align: justify;
}